.match__body {
  position: absolute;
  top: calc(33% - 12.5vh);
  left: calc(50% - 45vw);

  height: 50vh;
  width: 90vw;

  background-color: lightgray;
  border-radius: 4px;
}

.match__body .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.match__body h1 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
  color: white;

  background-color: rgba(0, 0, 0, .5);
}
