.swiper {
  position: relative;

  width: 100vw;
  height: 75vh;
}

.swiped {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: red;
  transform-origin: 50% 300%;
}
