.summary {
  display: flex;
  flex-direction: column;

  font-family: 'Lato';

  height: 33vh;

  background-color: white;
}

.summary__name {
  font-weight: bold;
  font-size: 1.5rem;
}

.summary__breed {
  font-weight: bold;
  font-size: 1.5rem;
}

.summary__age {
  font-weight: bold;
  font-size: 1.5rem;
}

.summary__description {
  font-weight: lighter;

  overflow-y: auto;
}

.h-separator {
  width: 100%;
  height: 1px;

  background-color: lightgray;
}
